
/* transition: all 0.5s ease; */
.game-holder {
	position: absolute;
	width: 100%;
	height: 100%;

	/* awesome! */
	background: -webkit-linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);


	-webkit-animation: stretch 0s ease infinite;
	-moz-animation: stretch 0s ease infinite;
	animation-name: stretch;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#world {
	z-index: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}



@keyframes stretch {
  0% {
    /* background: #455c73; */
    /* background: #4e4376; */

		/* background: -webkit-linear-gradient(#2b5876, #4e4376);
		background: linear-gradient(-20deg, #2b5876, #4e4376); */
  }
  100% {
		/* background: #001123; */

		/* background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
		background: linear-gradient(-20deg#e4e0ba, #f7d9aa); */
  }
}


















/*
@media screen and (max-width: 40em) {
	.header {
		font-size: 0.75em;
		top: 6.5em;
	}
	.header h2 {
		letter-spacing: 0.65em;
	}
} */
